body {
    background-color: #F5F5F5;
    width: 100%;
}

.main {
    margin: 100px;
}

input[type=date] {
    font-size: 16px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=text] {
    width: auto;
    font-size: 16px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.task-panel {
    margin-top: 10px;
}

.title_span {
    color: black;
    font-size: 28px;
}

.description_span {
    color: black;
    font-size: 18px;
    font-weight: normal;
}

.due_date_span {
    color: #00169c;
    font-size: 16px;
    font-weight: normal;
}

.done_span {
    color: #41903a;
    font-size: 16px;
    font-weight: bold;
}

.task {
    font-weight: bold;
    background-color: #DCDCDC;
    color: #444;
    padding: 28px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.btn-group .button {
    background-color: lightgray;
    color: #444;
    padding: 9px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.button1{
    background-color: lightgray;
    padding: 9px;
    color: black;
    border: 2px solid #e7e7e7;
}

.task:hover, .button1:hover {
    background-color: #D8D8D8;
}